<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brush&Palette | ADMIN - Menu Artwork</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- Chart.js CSS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Font Awesome CSS (Add this line to include the icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap" rel="stylesheet" />

    <!-- Custom CSS -->
    <style>
      body {
        font-family: 'Poppins', sans-serif;
        background-color: #f8f9fa;
      }
      
      .btn-bp {
        background-color: #fccf55;
      }
      
      #sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        background-color: black;
        padding-top: 20px;
        transition: margin-left 0.3s;
        color: #fff;
      }
      
      #sidebar a {
        padding: 8px 16px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: color 0.3s;
      }
      
      #sidebar a i {
        margin-right: 8px;
      }
      
      #sidebar a:hover {
        color: #f1f1f1;
      }
      
      #sidebar a.active {
        color: #fff;
        background-color: #495057;
      }
      
      #content {
        margin-left: 250px;
        padding: 40px 60px 40px 60px;
      }
      
      #navbar {
        background-color: #343a40;
        color: #fff;
      }
      
      #navbar a {
        color: #fff;
        text-decoration: none;
      }
      
      #navbar a:hover {
        color: #f1f1f1;
      }
      
      #toggle-btn {
        background-color: #343a40;
        color: #fff;
        border: none;
        padding: 10px;
        margin-right: 10px;
      }
      
      #toggle-icon {
        font-size: 24px;
      }
      
      .total-data {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .pie-chart {
        max-width: 300px;
        margin: 0 auto;
      }
      
      /* Profile Dropdown */
      .profile-dropdown {
        position: relative;
        display: inline-block;
      }
      
      #profile-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 280px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        border-radius: 10px;
        color: black;
      }
      
      .is-rounded {
        border-radius: 50%;
      }
      
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #f0f0f0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
      <button class="btn" id="toggle-btn"><span>☰</span></button>
      <div>
        <img class="logo" src="/static/fans/logo.png" style="width: 180px;" alt="Brush&Palette" />
      </div>
      <div class="ml-auto flex">
        <span class="navbar-text">Welcome, {{ user_info.username }}</span>
        <div class="profile-dropdown ml-2 flex">
          <span id="profile-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ url_for('static', filename = user_info.photo) }}" alt="Profile Image" class="is-rounded" width="48" height="48" /></span>
          <div id="profile-dropdown-content" class="container card mt-3">
            <div class="flex container card-body">
              <div>
                <img src="{{ url_for('static', filename = user_info.photo) }}" alt="Profile Image" class="is-rounded" width="65" height="65" />
              </div>
              <div>
                <h5 class="mt-3">{{ user_info.fullname }}</h5>
                <p class="text-muted">{{ user_info.username }}</p>
              </div>
              <div class="border-top w-100 mt-2">
                <button onclick="logout()" type="submit" class="btn btn-bp btn-block my-3">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div id="sidebar">
      <ul class="nav flex-column mt-3">
        <li class="nav-item">
          <a class="nav-link" href="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/user"><i class="fas fa-users"></i> User Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/artwork"><i class="fas fa-image"></i>&nbsp;&nbsp;&nbsp;Artwork</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/artist"><i class="fas fa-palette"></i>&nbsp;&nbsp;&nbsp;Artist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/pembelian"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;Pembelian</a>
        </li>
      </ul>
    </div>

    <div id="content" class="mt-5">
      <!-- Content goes here -->
      <h2>Artwork</h2>
      <p>Data Artwork</p>

      <button type="button" class="btn btn-bp w-100 mt-3" data-toggle="modal" data-target="#addArtworkModal">Tambah Artwork</button>
      <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
        <div class="card w-100">
          <div class="card-header container">
            <div>Record Data Artwork</div>
          </div>
          <div class="card-body">
            <table id="userData" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Judul Artwork</th>
                  <th>Product</th>
                  <th>Artist</th>
                  <th>Deskripsi</th>
                  <th>Price</th>
                  <th>Stock</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for data in datas %}
                  {% set id = data.artwork_id %}
                  {% set title = data.title %}
                  {% set prev_photo = data.photo %}
                  {% set photo = data.photo_real %}
                  {% set artist = data.artist %}
                  {% set price = data.price %}
                  {% set desc = data.desc %}
                  {% set qty = data.stock %}
                  {% set row_array = [id, title, photo, artist, price, desc, qty] %}
                  <tr id="{{ id }}">
                    <td>{{ id }}</td>
                    <td>{{ title }}</td>
                    <td>
                      <img src="{{ url_for('static', filename = photo) }}" width="140px" />
                    </td>
                    <td>{{ artist }}</td>
                    <td>{{ desc }}</td>
                    <td style="text-align: center;">{{ price }}</td>
                    <td style="text-align: center;">{{ qty }}</td>
                    <td class="flex-column">
                      <div class="d-flex">
                        <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#myModal{{ id }}">Edit</button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ id }}">Delete</button>
                      </div>
                    </td>
                  </tr>

                  <!-- MODAL EDIT FOR EACH ROW -->
                  <div class="modal fade" id="myModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content p-3">
                        <div class="modal-header">
                          <h5 class="modal-title" id="myModalLabel">Edit Artwork <span class="badge btn-bp ml-2">{{ id }}</span></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body">
                          <form action="/admin/artwork/edit" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                              <label for="artistName">Nama Artist</label>
                              <select id="artistName" name="artistName" class="form-control">
                                <option selected disabled>Pilih ...</option>
                                {% for fullname in fullnames %}
                                  <option {% if artist == fullname %}selected{% endif %} value="{{fullname}}">{{ fullname }}</option>
                                {% endfor %}
                              </select>
                              <input hidden type="text" name="artworkID" value="{{ id }}" />
                              <input hidden type="text" name="artworkPhoto" value="{{ photo }}" />
                            </div>
                            <div class="form-group">
                              <label for="editArtTitle">Title</label>
                              <input type="text" class="form-control" name="editArtTitle" placeholder="Masukan judul artwork" value="{{ title }}" />
                            </div>
                            <div class="form-group">
                              <label for="editArtPhoto">Foto</label>
                              <div style="display: flex; align-items: center;">
                                <img style="width: 40%; " class="rounded" src="{{ url_for('static', filename = photo) }}" alt="" />
                                <input type="file" class="form-control-file ml-3" name="editArtPhoto" accept="image/*" />
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="editArtDesc">Deskripsi</label>
                              <textarea class="form-control" name="editArtDesc" rows="3" placeholder="Masukan deskripsi artwork">{{ desc }}</textarea>
                            </div>
                            <div class="form-group">
                              <label for="editArtPrice">Harga</label>
                              <input type="number" class="form-control" name="editArtPrice" value="{{ price }}" placeholder="Masukan harga artwork" />
                            </div>
                            <div class="form-group">
                              <label for="editArtStock">Stock</label>
                              <input type="number" class="form-control" name="editArtStock" value="{{ qty }}" placeholder="Masukan jumlah stock artwork" />
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-bp">Save changes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="deleteModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Hapus Data Artwork</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <form action="/admin/artwork/delete" method="post">
                            <p>Are you sure you want to delete this data?</p>
                            <input type="text" value="{{ id }}" name="idDelete" hidden />
                            <input type="text" name="photo" value="{{ photo }}" hidden />
                            <p>Artwork ID: {{ id }}</p>
                            <p>Title: {{ title }}</p>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- MODAL FORM TAMBAH -->
      <div class="modal" id="addArtworkModal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content p-3 py-4">
            <div class="modal-header">
              <h5 class="modal-title">Tambah Artwork</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <!-- Add Artist Form -->
              <div class="form-group">
                <label for="artistID">Nama Artist</label>
                <select id="artistID" class="form-control">
                  <option selected disabled>Pilih ...</option>
                  {% for artst in artists %}
                    <option value="{{ artst._id }}">{{ artst.fullname }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="artworkTitle">Title</label>
                <input type="text" class="form-control" id="artworkTitle" placeholder="Masukan judul artwork" />
              </div>
              <div class="form-group">
                <label for="artworkPhoto">Foto</label>
                <input type="file" class="form-control-file" id="artworkPhoto" accept="image/*" />
              </div>
              <div class="form-group">
                <label for="artworkDescription">Deskripsi</label>
                <textarea class="form-control" id="artworkDescription" rows="3" placeholder="Masukan deskripsi artwork"></textarea>
              </div>
              <div class="form-group">
                <label for="artworkPrice">Harga</label>
                <input type="number" class="form-control" id="artworkPrice" placeholder="Masukan harga artwork" />
              </div>
              <div class="form-group">
                <label for="artworkStock">Stock</label>
                <input type="number" class="form-control" id="artworkStock" placeholder="Masukan jumlah stock artwork" />
              </div>
              <button onclick="tambah_artwork()" class="btn btn-bp w-100 my-3">Tambah Artwork</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="d-flex flex-wrap justify-content-between align-items-center mt-5 py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-black-50 mt-1">Copyright © Brush&amp;Palette 2023</span>
        </div>
      </footer>
    </div>

    <!-- DataTables JS and dependencies -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Chart.js JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>  
      {% if msg %}
        alert('{{ msg }}')
        // Get the current URL
        var currentURL = window.location.href;
        // Remove any existing arguments from the URL
        var mainURL = currentURL.split('?')[0];
        // Reload the main URL
        window.location.href = mainURL;
      {% endif %}

      $(document).ready(function () {
        // Initialize DataTable
        var table = $('#userData').DataTable({
          lengthMenu: [5, 10, 25, 50],
          pageLength: 10,
          dom: 'Blfrtip',
          buttons: ['copy', 'excel', 'pdf'],
          searchPanes: {
            viewTotal: true,
            dtOpts: [{ searchPanes: { show: 'top' } }]
          },
          select: true,
          scrollX: true
        })
      })
      
      // Tambah Artwork
      function tambah_artwork() {
        let artistID = $('#artistID').val()
        let artworkTitle = $('#artworkTitle').val()
        let artworkPhoto = $('#artworkPhoto')[0].files[0]
        let artworkDesc = $('#artworkDescription').val()
        let artworkPrice = $('#artworkPrice').val()
        let artworkStock = $('#artworkStock').val()
        console.log(artistID, artworkTitle, artworkPhoto, artworkDesc, artworkPrice, artworkStock)

        if (artistID === '' || artworkPhoto === '' || artworkDesc === '' || artworkPrice === '' || artworkStock === '' || artworkTitle === '') {
          alert('All fields must be filled');
          return false; // Prevent form submission
        }
      
        let form_data = new FormData()
        form_data.append('artistID_give', artistID)
        form_data.append('artworkTitle_give', artworkTitle)
        form_data.append('artworkPhoto_give', artworkPhoto)
        form_data.append('artworkDesc_give', artworkDesc)
        form_data.append('artworkPrice_give', artworkPrice)
        form_data.append('artworkStock_give', artworkStock)
        $.ajax({
          type: 'POST',
          url: '/tambah_artwork',
          data: form_data,
          cache: false,
          processData: false,
          contentType: false,
          success: function (response) {
            if (response['result'] == 'success') {
              alert(response['msg'])
              location.reload()
            }
          }
        })
      }
      
      // Toggle sidebar on button click
      $('#toggle-btn').click(function () {
        $('#sidebar').toggleClass('d-none')
        $('#content').toggleClass('ml-0')
        $('#toggle-icon').text($('#toggle-icon').text() === '←' ? '→' : '←')
      })
      
      $('#profile-dropdown-btn').click(function () {
        if ($('#profile-dropdown-content').css('display') == 'block') {
          $('#profile-dropdown-content').hide('slow')
        } else {
          $('#profile-dropdown-content').show('slow')
        }
      })
      
      function logout() {
        $.removeCookie('admintoken', { path: '/' })
        alert('Signed Out!')
        window.location.href = '/admin/login'
      }
    </script>
  </body>
</html>
